## Service file for lathe service

## Info on user-mode services here:
##
## https://www.brendanlong.com/systemd-user-services-are-amazing.html

## To install:
##
## sudo cp lathe.service /etc/systemd/system
##
## to start manually:
## sudo systemctl start lathe
##
## to stop:
## sudo systemctl stop lathe
##
## to install so it starts automatically:
## sudo systemctl enable lathe

## Enable user 'lathe' to run services when not logged in:
## sudo loginctl enable-linger lathe

## As user 'lathe', turn on the service:
## ssh lathe@lathe.local
## systemctl --user enable lathe

[Unit]
Description=lathe keepalive daemon
AssertPathExists=/home/lathe/lathe

## Make sure we only start the service after network is up
Wants=network-online.target
After=network.target

[Service]
## use 'Type=forking' if the service backgrounds itself
## other values are Type=simple (default) and Type=oneshot
Type=forking
WorkingDirectory=/home/lathe/lathe/Code
## here we can set custom environment variables
#Environment=AUTOSSH_GATETIME=0
ExecStart=/home/lathe/lathe/Code/service/lathe_startup.sh
ExecStop=/usr/bin/killall -9 lathe_startup
### NOTE: you can have multiple `ExecStop` lines
# ExecStop=/usr/bin/killall ssh
# don't use 'nobody' if your script needs to access user files
# (if User is not set the service will run as root)
Restart=on-failure

# Useful during debugging; remove it once the service is working
# StandardOutput=console
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target
